/* Basic Body Structure */

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-word-break: break-word;
  word-wrap: break-word;
}

body {
  color: #B7B7B7;
  height: 100%;
  z-index: 100;
  font-size: 12px;
  background-color: #001f2a;
  font-family: system, -apple-system,
      ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
  font-weight: 400;
  overflow-y: visible;
}

p {
  overflow: visible !important;
}

body .line {
  clear: both;
}

#body_home {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
  max-height: 99.99%;
  opacity: 0; /* Set by JavaScript */
  -webkit-transition: opacity 0.8s linear;
}

#body_home {
  max-height: 100%;
}

body[dir=rtl] .senderContainer {
  display: inline-block;
}

/* Hide some internal stuff. */
#timestampWidth {
  display: none;
}

/* Loading Screen */

#loading_screen {
  position: fixed;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 210px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
  background: #001f2a;
  border: 1px solid #268BD2;
  padding: 5px;
  padding-left: 10px;
  opacity: 1; /* Set by JavaScript */
  -webkit-transition: opacity 0.8s linear;
}

#loading_screen progress {
  margin-top: 5px;
}

/* Time */
body[dir=ltr] .time {
  font-size: .91em !important;
  white-space: nowrap;
  float: right;
  color: #586E75;
  -webkit-user-select: none;
  /*  font-weight: bold; */
  margin-right: 10px;
  padding-left: 25px;
  line-height: 22px;
  font-style: normal;
  text-align: right;
}

/* Encryption Lock */
.encryptionLock {
}

.encryptionLock img {
  z-index: 100;
  position:absolute;
  top:0;
  left: 5px;
  bottom:0;
  margin:auto;
  height: 12px;
  width: auto;
}

/* Links */

a {
  color: #FFFFFF; 
  border-color: #FFFFFF;
  text-decoration: none;
  border-bottom: dotted 1px;

}

a:hover {
  color: #268BD2; 
  border-color: #268BD2;
}

/* Topic Bar */

#topic_bar {
  top: 0;
  left: 0;
  right: 0;
  opacity: 0; /* Set by JavaScript */
  z-index: 400;
  color: #8E8E8E;
  position: fixed;
  padding: 2px 0.5em 3px;
  box-shadow: 0 1px 5px #777;
  border-bottom: 1px solid #404040;
  text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
  background: -webkit-linear-gradient(top, #073642 0%, #001f2a 100%);
  -webkit-transition: opacity 0.8s linear;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
  <https://github.com/hbang/Simplified-Light-Modifications> */

#topic_bar:hover {
  overflow: visible;
  white-space: normal;
}

#topic_bar a,
#topic_bar span.channel {
  color: #8E8E8E;
  border-color: #8E8E8E;
  text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
}
/* @end */
/* Hidden scrollback history bar */
#scrolling_history {
  z-index: 400;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  box-shadow: 0 1px 5px #777;
  border-top: 1px solid #404040;
  text-shadow: 1px 1px rgba(10, 10, 10, 0.7);
  color: #FFFFFF;
  background-color: #859900;
  display: none;
  overflow: hidden;
}

#scrolling_history .senderContainer {
  color: #FFFFFF;
  background-color: #859900;
}
/* @group Images */



/* Images */

body a img {
  border: 0;
}

body video,
body img {
  display: block;
}

.inlineImageCell {
  position: relative;
  display: table;
  overflow: auto;
  width: auto;
  height: auto;
}

.inlineImageCell > a {
  display: inline-block;
  border: none;
}

.inlineImageCell .image {
  display: inline-block;
  float: left;
  margin: 15px 15px 12px 10px;
  min-width: 100px;
}

.inlineImageCell .closeButton {
  background: #000000;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
  font-size: 20px !important;
  font-family: "Helvetica Neue" !important;
  font-weight: 100 !important;
  text-align: center;
  line-height: 17px;
  color: #f2f2f2;
  border: 2px solid #f2f2f2;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
}


/* Remember Line */
div[id=mark] {
  clear: both;
  position: relative;
  z-index: 295;
  margin-top: -1px;
  border-bottom: 3px solid;
  border-color: #D33682;
  -webkit-transition: 0.2s linear;
}

body[dir=ltr] div[ltype=action] .sender:before {
  margin-right: 0.6em;
  font-weight: bold;
  font-size: 80% !important;
  content: "●";

}

/* Historic / Log readback */
#historic_messages,
#body_home > .historic {
  opacity: 0.83;
}

/* NOTICE/CTCP/WALLOPS */
body div.line[ltype=ctcp],
body div.line[ltype=notice],
body div.line[ltype=wallops] {
  z-index: 191;
  position: relative;
  border-bottom: none;
  border-top: none;
  border-left: none;
  color: #b58900;
  /* background-color: #1d2734; Maybe remove?*/
}

body div[ltype=ctcp] .senderContainer,
body div[ltype=notice] .senderContainer {
  color: #b58900;
  font-weight: 700;
  min-height:23px;
  width: 134px;
  padding-right:7px;
  text-align:right;
  display:inline-block;
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  text-overflow: ellipsis;
  /* background-color: #161616; */
}

body div[ltype=notice] .message {
  color: #b58900;
}

/* PRIVMSG */
body div.line[ltype=privmsg][highlight=false] {
  padding: 0;
  position: relative;
  min-height: 23px;
}

body div[ltype=privmsg] .senderContainer {
  /*  font-weight: 700; */
  min-height:23px;
  width: 134px;
  /* border-right: 3px solid rgb(64, 64, 64); */
  border-right: 2px solid #586E75;
  padding-right:12px;
  background-color: #001f2a;
  text-align:right;
  display:inline-block;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  text-overflow: ellipsis;
}

body .senderContainer .swrapper {
  font-size: 0px !important;
  opacity: 0;
}

body div[ltype="privmsg"] .message {
  word-break: break-word;
  color: #B7B7B7;
}

body div[ltype="privmsg"][encrypted="true"] {
  background: repeating-linear-gradient(-45deg, rgba(79, 79, 79, 0.1), rgba(79, 79, 79, 0.1) 20px, rgba(68, 89, 63, 0.3) 20px, rgba(68, 89, 63, 0.3) 40px) !important;
}

body div[ltype="privmsg"][encrypted="failed"] {
  background: repeating-linear-gradient(-45deg, rgba(45, 6, 6, 0.2), rgba(45, 6, 6, 0.2) 20px, rgba(104, 15, 15, 0.2) 20px, rgba(104, 15, 15, 0.2) 40px) !important;
}

body div[ltype="privmsg"][highlight=true][encrypted="true"] {
  background: repeating-linear-gradient(-45deg, #30473a, #30473a 20px, rgba(68, 89, 63, 0.3) 20px, rgba(68, 89, 63, 0.3) 40px) !important;
}

body div[ltype=privmsg] p[ltype=myself] .message {
 color: #B7B7B7;
}

body div[ltype=privmsg] p span.effect[color-number=1]:not([bgcolor-number]) {
  color: #f2f2f2; /* make black text with no bg white for readability */
}

/* ACTION */
body div[ltype=action] .senderContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 134px;
  /*  font-weight: 700;*/
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: #001f2a;
  height:22px;
  padding-right: 7px;
  text-align:right;
  display:inline-block;
  overflow: hidden;
}

body div.line[ltype=action] .message {
  word-break: break-word;
  padding-top: 1px;
}

body div.line[ltype=action][highlight=true] .message {
  color: #f2f2f2 !important;
}

/* DEBUG/INVITE */
body div.line[ltype=invite],
body div.line[ltype=debug],
body div.line[ltype=dcc-file-transfer],
body div.line[ltype=off-the-record-encryption-status] {
  color: #f2f2f2;
  z-index: 190;
  background: #001f2a;
  position: relative;
  padding: 2px 0 2px 0;
  /* border-top: 1px solid #393939;
  border-bottom: 1px solid #393939; */
}

body div.line[ltype=ctcp] .message,
body div.line[ltype=invite] .message,
body div.line[ltype=debug] .message,
body div.line[ltype=dcc-file-transfer] .message,
body div.line[ltype=off-the-record-encryption-status] .message {
  text-indent: 0;
  padding-left: 145px !important;
}

/* off-the-record-encryption-status Message Event */
body div.line[ltype=off-the-record-encryption-status]  .message {
  color: #ff0000;
  font-weight: 700;
}

/* Message of the Day (MOTD) */
/* 720, 721, 722 are used by ShadowIRCd for Oper MOTD. */
/* 372, 375, 376 are normal MOTD shared by several IRCds. */


/* GENERAL EVENT */
body span.message {
  position: relative;
  padding-left: 150px;
  /* padding-right: 25px; */
  display: table-cell;
  min-height: 22px;
  line-height: 22px;
  overflow: visible !important;
}

body div.event span.time {
  color: #586E75;
  line-height: 19px;
  display: table-cell;
}

body div.event span.message {
  min-height: 19px;
  line-height: 19px;
  text-indent: -20px;
  padding-left: 0;
}

.line[command="372"],
.line[command="721"] {
  padding-top: 3px;
  padding-bottom: 3px;
}

.line[command="375"],
.line[command="720"] { /* Start. */
  padding-top: 2px;
  padding-bottom: 3px;
}

.line[command="376"],
.line[command="722"] { /* End. */
  padding-top: 3px;
  padding-bottom: 3px;
}

.line[command="372"] .message,
.line[command="375"] .message,
.line[command="376"] .message,
.line[command="720"] .message,
.line[command="721"] .message,
.line[command="722"] .message {
  color: #586E75;
  font-family: "EspressoMono-Regular", "Menlo" !important;
  z-index: 190;
  position: relative;
}

.line[command="311"] .message,
.line[command="378"] .message,
.line[command="319"] .message,
.line[command="312"] .message,
.line[command="379"] .message,
.line[command="330"] .message,
.line[command="307"] .message,
.line[command="317"] .message,
.line[command="275"] .message,
.line[command="671"] .message {
  color: #2aa198;
  z-index: 190;
  position: relative;
}
body div.line[ltype=join],
body div.line[ltype=part],
body div.line[ltype=quit],
body div.line[ltype=mode],
body div.line[ltype=nick],
body div.line[ltype=topic],
body div.line[ltype=website] {
  font-size: 85%;
  min-height: 19px;
  padding-left: 145px;
  color: #586E75;
  /* background: #1d1d1d; */
}
body div.line[ltype=kill],
body div.line[ltype=kick],
body div.line[ltype=mode] {
  font-size: 85%;
  min-height: 19px;
  padding-left: 145px;
  color: #dc322f;
}

body div.line[ltype=topic] span.message {
  text-indent: 0;
}

body div.line[ltype=nick] {
  color: #529567;
}
body div.line[ltype=kill],
body div.line[ltype=kick] {
  color: #ec5151;
}

body[dir=ltr] div[ltype=join] .message:before {
  content: "→";
  color: #0c0;
  margin-left:3px;
  margin-right: 5px;
}


body[dir=ltr] div[ltype=kick] .message:before,
body[dir=ltr] div[ltype=part] .message:before,
body[dir=ltr] div[ltype=quit] .message:before {
  content: "←";
  color: #e00;
  margin-left:3px;
  margin-right: 5px;
}

body[dir=ltr] div[ltype=nick] .message:before {
  content: "\2022";
  color: #37be34;
  font-weight: 700;
  margin-left: 8px;
  margin-right: 5px;
}

body[dir=ltr] div[ltype=mode] .message:before {
  content: "\2022";
  color: #2cb6f6;
  font-weight: 700;
  margin-left: 8px;
  margin-right: 5px;
}

body[dir=rtl] div[ltype=join] .message:before {
  content: "→";
  color: #0c0;
  margin-left:3px;
  margin-right: 5px;
}

body[dir=rtl] div[ltype=kick] .message:before,
body[dir=rtl] div[ltype=part] .message:before,
body[dir=rtl] div[ltype=quit] .message:before {
  content: "←";
  color: #e00;
  margin-left:3px;
  margin-right: 5px;
}

/* Nickname Colors */

/*
body .inline_nickname {
  font-weight: 700;
}
*/

body .sender[mtype=myself] {
  /* color: #7AA6DA;*/
  color: #FFFFFF;

}

/* Start attempt at nick coloring for me */
body div[ltype*=privmsg] .sender[mtype*=myself] {
  color: #FFFFFF; 
}
.sender[mtype*=myself] {
  color: #FFFFFF; 
}

div[mtype*=myself] {
  background-color: rgba(66, 113, 174, 0.25); 
}
body .sender {
  margin-right: -.25em;

}

body .f {  /* fade out */
  -webkit-transition: color .75s;
}


/* SELECTED USER MESSAGES */

.senderContainer {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

body div.line[ltype=privmsg]:not(.selectedUser),
body div.line[ltype=action]:not(.selectedUser) {
  transition-property: background-color;
  transition-duration: 0.5s, 0.5s, 0.5s;
}

body div.line[ltype=privmsg] .time:not(.selectedUser),
body div.line[ltype=action] .time:not(.selectedUser) {
  transition: color 0.5s;
}

body div.line.selectedUser[highlight=false] .time {
  transition: color 0.5s ease-in;
  color: #aaa;
}

body div.line.selectedUser[highlight=false] {
  transition-property: background-color;
  transition-duration: 0.5s, 0.5s, 0.5s;
  z-index: 190;
  position: relative;
  background-color: #2f3e53;
}

body div.line[ltype=privmsg][highlight=true],
body div.line[ltype=action][highlight=true] {
  z-index: 191;
  position: relative;
  font-weight: normal;
  background-color: #38010A !important;
  color: #E0E2E4;
}

/* Date changes */
body div.date {
    display: flex;
    display: -webkit-flex;
    padding: .5em 0;
}

body div.date > hr {
    background: #444;
    border: 0;
    flex: 1;
    height: 1px;
    margin-top: .6em;
    -webkit-flex: 1;
}

body div.date > span {
    font-style: oblique;
    margin: 0 1em;
}

body div.date + div#mark, body div.date + div#historic_messages + div#mark {
  display: none;
}

/* Begin Nick Coloring Block */
.sender[nickname='kerio'] { color: pink !important; }
.inline_nickname[nickname='kerio'] {color: pink !important;}
.sender[nickname^='Dusty'] { color: #073642 !important; }
.inline_nickname[nickname^='Dusty'] {color: #073642 !important;}
.sender[nickname^='THE_GFR'] { color: #073642 !important; }
.inline_nickname[nickname^='THE_GFR'] {color: #073642 !important;}
.sender[nickname='_dave'] { color: #FFFFFF !important; }
.inline_nickname[nickname='_dave'] {color: #FFFFFF !important;}
.sender[nickname^='NDP'] { color: #586E75 !important; }
.inline_nickname[nickname^='NDP'] {color: #586E75 !important;}
.sender[nickname^='RdJss'] { color: #B40404 !important; }
.inline_nickname[nickname^='RdJss'] {color: #B40404 !important;}
.sender[nickname^='rdjss'] { color: #B40404 !important; }
.inline_nickname[nickname^='rdjss'] {color: #B40404 !important;}
.sender[nickname^='redjess'] { color: #B40404 !important; }
.inline_nickname[nickname^='redjess'] {color: #B40404 !important;}
.sender[nickname='Nelluk'] { color: #FF8000 !important; }
.inline_nickname[nickname='Nelluk'] {color: #FF8000 !important;}

}
